@import url('https://fonts.googleapis.com/css?family=Dosis:100,200,300,400,500,600,700|Poiret+One:100,200,300,400,500,600,700');

/*-----------------------------------------------General*/

body {
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    background-color: #333;
}

.main-title {
    width: 100%;
    margin: 16px 0;
}

.background-image {
    position: fixed;
    width: 100%;
    height: 100vh;
    -webkit-filter: blur(5px) grayscale(5%) brightness(20%);
    filter: blur(2px) grayscale(5%) brightness(20%);
}

.navbar {
    border-top: 1px solid #27cdf1;
    padding: 0;
    background-color: #333;
}

.navbar-item {
    padding: 16px 0;
    width: 25%;
    text-align: center;
}

.navbar-item i {
    width: 50px;
    color: #e9f1f4;
    font-size: 28px;
    padding-top: 8px;
    padding-bottom: 12px;
}

#current-menu-option {
    color: #ff4f00;
}

#title {
    text-align: center;
    font-family: "Poiret One", sans-serif;
    font-weight: 500;
    color: #27cdf1;
    padding: 8px;
}

a {
    text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.section-wrapper {
    position: absolute;
    width: 100%;
}

.section-content {
    position: relative;
}

#section-heading {
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    font-family: "Poiret One", sans-serif;
    font-weight: 500;
    color: #27cdf1;
    padding: 16px;
}

.section-choices {
    margin: 0 auto;
    padding-bottom: 16px;
}

.section-choices form {
    font-size: 24px;
    text-align: center;
    padding-bottom: 8px;
}

.section-choices span {
    color: #e9f1f4;
    padding-left: 8px;
}

.section-choices input {
    display: inline-block;
}

footer {
    position: relative;
    background-color: #333;
}

.button {
    text-align: center;
    width: 100%;
    margin: 16px;
}

.btn {
    margin: 0 8px;
}

.btn-info {
    color: #fff;
    background-color: transparent;
    border-color: #27cdf1;
}

/*-----------------------------------------------Home*/

.home-page {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #333;
}

.welcome {
    width: 100%;
    margin: 16px 16px 0 16px;
}

.name {
    text-align: center;
    width: 100%;
    margin: 16px 16px 0 16px;
}

input[type=text] {
    margin: 12px 0;
}

input[type=submit] {
    margin-top: 12px;
}

.height {
    width: 100%;
    margin: 16px 16px 0 16px;
}

select[name=height] {
    display: block;
    margin: 12px auto 12px auto;
    margin-top: 12px;
}

option {
    font-weight: 500;
}

.build {
    width: 100%;
    margin: 12px 16px 0 16px;
}

.home-choices {
    text-align: center;
    margin: 12px 0;
}

.home-choices span {
    color: #e9f1f4;
    padding: 8px 8px 8px 4px;
}

#welcome {
    text-align: center;
    font-family: "Poiret One", sans-serif;
    font-size: 24px;
    margin-bottom: 12px;
    font-weight: 500;
    color: #e9f1f4;
}

#name {
    text-align: center;
    font-family: "Poiret One", sans-serif;
    font-size: 24px;
    margin: 0;
    font-weight: 500;
    color: #e9f1f4;
}

#height {
    text-align: center;
    font-family: "Poiret One", sans-serif;
    font-size: 24px;
    margin: 0;
    font-weight: 500;
    color: #e9f1f4;
}

#build {
    text-align: center;
    font-family: "Poiret One", sans-serif;
    font-size: 24px;
    margin: 0 0 12px 0;
    font-weight: 500;
    color: #e9f1f4;
}

/*-----------------------------------------------Plumbing*/

.plumbing-page {
    margin: 0;
    padding: 0;
    width: 100%;
    /*background-color: #595959;*/
}

/*-----------------------------------------------Gas*/

.gas-page {
    margin: 0;
    padding: 0;
    width: 100%;
    /*background-color: #595959;*/
}

/*-----------------------------------------------Electrical*/

.electrical-page {
    margin: 0;
    padding: 0;
    width: 100%;
    /*background-color: #595959;*/
}

/*-----------------------------------------------Ladders*/

.ladders-page {
    margin: 0;
    padding: 0;
    width: 100%;
    /*background-color: #595959;*/
}

/*-----------------------------------------------Media Queries*/

@media (min-width: 768px) {
    #welcome {
        font-size: 36px;
    }
    #title {
        font-size: 60px;
    }
    #name {
        font-size: 36px;
    }
    input[type=text] {
        font-size: 36px;
    }
    #height {
        font-size: 36px;
    }
    select[name=height] {
        font-size: 36px;
    }
    #build {
        font-size: 36px;
    }
    .home-choices {
        font-size: 30px;
    }
    .btn {
        font-size: 30px;
    }
    .section-wrapper {
        top: 15%;
    }
    #section-heading {
        margin: 32px 0;
        font-size: 48px;
    }
    .section-choices form {
        margin-bottom: 32px;
        font-size: 30px;
        padding-bottom: 16px;
    }
    section[class=plumbing-page] footer {
        margin-top: 144px;
        /*THIS MIGHT NEED ADJUSTING AGAIN WHEN THE CONTENT CHANGES/UPDATES*/
    }
    section[class=gas-page] footer {
        margin-top: 197px;
        /*THIS MIGHT NEED ADJUSTING AGAIN WHEN THE CONTENT CHANGES/UPDATES*/
    }
    section[class=electrical-page] footer {
        margin-top: 197px;
        /*THIS MIGHT NEED ADJUSTING AGAIN WHEN THE CONTENT CHANGES/UPDATES*/
    }
    section[class=ladders-page] footer {
        margin-top: 250px;
        /*THIS MIGHT NEED ADJUSTING AGAIN WHEN THE CONTENT CHANGES/UPDATES*/
    }
}
